@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;800&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins',sans-serif;
}

:root {
    /** primary **/
    --color-dark: #222428;
    --color-dark-rgb: 34, 36, 40;
    --color-dark-contrast: whitesmoke;
    --color-dark-contrast-rgb: 255, 255, 255;
    --color-dark-shade: #1e2023;
    --color-dark-tint: #5e6066;
    --color-background:  #f1f7f1;
    --color-white: #ffffff;
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: #0ef;
  
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 1.8 rem;
    --padding-1: 1.2rem;
  
    --box-shadows: 0 2rem 3rem var(var(--color-dark-tint));
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* background-image: url('../assets/gray-bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed; */
    color: #333;
}

body::-webkit-scrollbar {
    display: none;
}

h1{
    font-weight: 800;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

a{
    text-decoration: none;
    color: currentColor;
}

a:hover{
    color: currentColor;
}

.container{
    width: 100vw;
    margin: 0;
    padding: 0;
}

main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6f5d6;
}

header{
  width: 100vw;
  height: 12vh;
  display: flex;
  align-items: center;
  color: #333;
}

header .container-fluid{
  width: 100%;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  justify-content: space-between;
}

header .navb-logo{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

header .navb-logo h2{
  font-weight: 800;
  position: relative;
  color: #333;
  text-shadow: 1px 1px 2px rgb(150, 150, 150);
  letter-spacing: 0.1em;
}

header .navb-logo img{
  width: 3.5rem;
  height: 3.5rem;
}

header .navb-items{
  align-items: center;
  justify-content: flex-end;
}

header .main-nav{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  position: relative;
  padding: 0;
}

header .main-nav li:hover > .submenu{
  display: block;
}

header .item{
  padding: 5px 15px;
  margin: 5px;
  border-radius: 10px;
}

.submenu{
  display: none;
  transition: 0.8s;    
  position: absolute;
  background-color: #031E23;
  color: white;
  width: 250px;
  padding: 16px 10px;
  margin-left: -15px;
  z-index: 1000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.submenu li{
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  padding: 16px;
}

.submenu li:hover{
  background-color: #404040;
}

.submenu a{
  display: flex;
  flex-direction: column;
}

.submenu a span{
  text-align: left;
  width: 100%;
}

.submenu .menu-item-name{
  font-size: 14px;
}

header .item a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin: 0;
}

header .item:hover, header #loginItem:hover{
  background-color: #031E23;
  color: white;
}

header .mobile-toggler{
  font-size: 20px;
  color: #024e02;
  display: none;
}

/* modal */

.modal-dialog{
  margin: 0;
  width: 80%;
}

.modal-content{
  border-radius: 0;
  height: 100vh;
  overflow-x: hidden;
}

.modal-header{
  align-items: center;
  width: 90%;
  height: 70px;
  margin: 0 auto;
  border-bottom: none;
  padding: 0;
}

.modal-header img{
  width: 6rem;
  height: 6rem;
  margin-top: 17.5px;
}

.modal-header .btn-close{
  background: transparent;
  padding: 0.5rem;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d6f5d6;
}

.modal-header .btn-close span{
  font-size: 30px;
  color: #333;
}

.modal-header .btn-close:active{
  background: #d6f5d6;
  color: #d6f5d6;
  border-color: #d6f5d6;
}

.modal-middle{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.modal-middle img{
  width: 6rem;
  height: 6rem;
}

.modal-middle h2{
  margin-top: 10px;
  text-align: center;
  font-weight: 800;
  position: relative;
  color: #333;
  letter-spacing: 0.1em;
}

.modal-body {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

.modal-body ul li{
  border-radius: 10px;
}

.modal-body ul{
  padding: 0;
  color: #333;
  margin: 10px 0;
  position: relative;
}

.modal-body ul li:hover > .modal-submenu{
  display: block;
}

.modal-body .modal-nav{
  position: relative;
}

.modal-submenu{
  display: none;
  z-index: 1000;
  color: #031E23;
  background-color: white;
  padding: 16px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal-submenu li{
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  transition: 0.3s ease-in-out;
}

.modal-submenu li:hover{
  background-color: #404040;
}

.modal-submenu a{
  display: flex;
  flex-direction: column;
}

.modal-submenu a span{
  text-align: left;
  width: 100%;
}

.modal-submenu .menu-item-name{
  font-size: 14px;
}

.modal-body ul li:hover{
  background-color: #031E23;
  color: white;
}

.modal-body ul li a{
  font-weight: 500;
  display: flex;
  line-height: 3rem;
  align-items: center;
  width: auto;
  justify-items: center;
  padding-left: 2rem;
}

.modal-body #icon{
  font-size: 2rem;
}

.modal-body .name{
  margin-left: 0.5rem;
}

.box {
  width: 30%;
  margin: 0 auto;
  height: 550px;
  background-color: #fff;
  border-radius: 3.3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 12px 4px;
}

.forms-wrap {
  height: 100%;
  width: 100%;
}

form {
  padding: 40px;
}

.logo {
  display: flex;
  align-items: center;
  border: none;
}

.logo img {
  width: auto;
  height: 2.5rem;
  margin-right: 0.3rem;
  border-radius: 5px;
}

.logo h4 {
  font-size: 1.1rem;
  color: #151111;
}

.logo h4 span{
    text-transform: uppercase;
    letter-spacing: -3px;
    font-weight: light;
}

.heading{
    margin-top: 20px;
    text-align: center;
}

.heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #151111;
}

.heading h6 {
  color: #bababa;
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
}

.actual-form{
    margin-top: 50px;
}

.toggle {
  color: #151111;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.toggle:hover {
    color: rgb(7, 199, 7);
}

.input-field {
    width: 100%;
    margin-bottom: 1.5rem;
    height: 2.5rem;
    border-bottom: 1px solid #d2d2d2;
    display: grid;
    grid-template-columns: 15% 75% 10%;
    padding: 0 0.4rem;
    position: relative;
}
  
.input-field i {
    text-align: center;
    line-height: 3rem;
    color: #acacac;
    transition: 0.5s;
    font-size: 1rem;
}

.input-field input {
    outline: none;
    border: none;
    background: none;
    line-height: 100%;
    font-weight: 500;
    font-size: 1rem;
    color: #333;
}
  
.input-field input::placeholder {
    color: #aaa;
    font-size: 16px;
    font-weight: lighter;
}

.fp{
    margin-bottom: 50px;
    text-align: right;
}

.fp a {
    color: #151111;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 500;
    transition: 0.3s;
}
  
.fp a:hover {
    color: rgb(117, 207, 117);
}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #336b4f;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  transition: 0.3s;
}

.sign-btn:hover {
  background-color: rgb(93, 143, 93);
}

.reg-btn {
  display: inline-block;
  width: 250px;
  height: 43px;
  background-color: #336b4f;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: 0.3s;
}

.reg-btn:hover {
  background-color: rgb(93, 143, 93);
}

.return{
  width: 100%;
  text-align: center;
}

.return a{
  color: #151111;
  font-size: 0.85rem;
  font-weight: 500;
  transition: 0.3s;
}

.gc{
  margin-bottom: 50px;
  text-align: right;
}

.gc input {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  transition: 0.3s;
  background-color: #333;
  padding: 7px 15px;
  border-radius: 0.5rem;
  border: none;
}

.text {
  color: #bbb;
  font-size: 0.7rem;
}

.text a {
  color: #bbb;
  transition: 0.3s;
}

.text a:hover {
  color: #8371fd;
}

.error{
    width: 100%;
    text-align: center;
}

.error h4{
    font-size: 14px;
    font-weight: 500;
    color: red;
}

.home{
  height: auto;
  width: 100vw;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .carousel img{
    height: 70vh;
    width: 100%;
    margin: 0 auto;
}

.home .carousel{
  height: auto;
  width: 700px;
}

.carousel-caption{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-caption p{
  margin: 0 auto;
}

.articles{
  height: 100%;
  width: 100vw;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.articles .card-box {
  transition: .3s ease-in-out;
}

.articles .card-box:hover{
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

.articles .card-box a:hover{
  color: #333;
}

.fullArtupper{
  width: 55vw;
}

.fullArtupper .arTitle{
  margin-bottom: 15px;
}

.fullArtupper h1{
  color: #333;
}

.fullArtupper .datePublished p{
  color: #212529BF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fullArt{
  height: auto;
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.fullArtMiddle{
  width: 80vw;
}

.fullArtLower{
  margin-top: 50px;
  width: 55vw;
}

.fullArtLower p{
  line-height: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh;
  position: relative;
  width: 100vw;
  background: #031E23;
}

.contact::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #ccffcc;
}

.contactInner{
  position: relative;
  min-width: 1000px;
  min-height: 450px;
  display: flex;
  z-index: 1000;
  border-radius: 10px;
}

.contactInner .contactInfo{
    position: absolute;
    top: 10%;
    width: 350px;
    height: calc(100% - 85px);
    z-index: 1;
    padding: 30px;
    display: flex;
    background: #031E23;
    color: white;
    font-weight: 500;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}      

.contactInner .contactForm{
  position: absolute;
  width: calc(100% - 150px);
  height: 100%;
  padding: 30px;
  padding-left: 250px;
  margin-left: 150px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 50px 55px rgba(0, 0, 0, 0.25);
}

.contactInfo h2{
  color: white;
  font-size: 24px;
}

.contactInfo .info{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.contactInfo ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.contactInfo i{
  font-size: 24px;
}

.contactInfo p{
  margin: 0 auto;
  font-size: 14px;
}

.social-media {
  display: flex;
  margin-top: 20px;
}

.social-icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.5rem;
  transition: .2s ease-in-out;
}

#fb{
  background: white;
  color: #0165E1;
}

#tg{
  background-color: #f7f8fa;   
  color: #0088cc;
}

#git{
  background: white;
  color: #171515;
}

.contactInner .contactForm h2{
  font-size: 24px;
}

.contactInner .contactForm form{
  padding: 0;
  padding-top: 20px ;
  margin: 0 auto;
}

.contactInner .contactForm form input[type="button"]{
  background: #031E23;
  color: white;
}

.contactInner .contactForm form input[type="button"]:hover{
  background: #042d35;
}

footer{
  text-align: center;
  width: 100vw;
  padding: 25px;
}

.about{
  display: flex;
  padding: 40px;
  width: 100vw;
}

.aboutUpperLeft{
  width: 60vw;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUpperLeft h1{
  font-size: 50px;
  margin-bottom: 20px;
}

.aboutUpperLeft p{
  line-height: 2rem;
  font-size: 18px;
}

.aboutUpperRight{
  width: 40vw;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUpperRight img{
  width: auto;
  height: 60vh;
  border-radius: 5px;
}

.aboutUpperRight .mobile{
  display: none;
}

.values{
  width: 100vw;
  padding: 40px;
  text-align: right;
}

.values .inVal{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.values h1{
  margin-bottom: 20px;
}

.values .inVal img{
  width: 40vw;
}

.values ul{
  width: 60vw;
}

.values ul li{
  margin-top: 10px;
}

.values ul li p{
  line-height: 3rem;
}

.blink{
  position: relative;
  animation: animate 5s linear infinite;
}

@keyframes animate{
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%{
      color: #333;
      text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
      color: #fff;
      text-shadow: 0 0 10px #024e02,
      0 0 20px #024e02,
      0 0 40px #024e02,
      0 0 80px #024e02,
      0 0 160px #024e02,
      0 0 400px #024e02;
  }
}

@media (max-width: 1200px){
  .box{
      width: 35%;
  }

  .contactInner{
    width: 90%;
    min-width: auto;
    margin: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  }

  .contactInner .contactInfo{
    top: 0;
    position: relative;
    box-shadow: none;
    height: 450px;
  }

  .contactInner .contactForm{
    position: relative;
    width: calc(100% - 350px);
    padding-left: 0;
    padding: 30px;
    margin-left: 0;
    box-shadow: none;
    height: 450px;
  }

  .contactInner .contactInfo .info{
    margin-top: 20px;
  }

  .contactInner .contactInfo .social-media{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1100px){
  .box{
      width: 40%;
  }
  
  .navb-items{
      display: none;
  }

  header .mobile-toggler{
      display: block;
  }

  .aboutUpperRight img{
    height: 55vh;
  }
}

@media (max-width: 1024px){
  .box{
      width: 50%;
  }

  .about{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aboutUpperLeft{
    width: 100vw;
  }

  .aboutUpperRight{
    width: 100vw;
  }

  .aboutUpperRight .desktop{
    display: none;
  }

  .aboutUpperRight .mobile{
    display: block;
  }

  .aboutUpperRight img{
    height: 70vh;
    width: auto;
  }

  .values{
    text-align: center;
  }

  .values .inVal{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .values .inVal img{
    width: 100vw;
  }
  
  .values ul{
    width: 100vw;
    padding: 20px;
  }

  .values ul li p{
    line-height: 2rem;
  }
}

@media(max-width:992px){
  body{
      width: 100vw;
      overflow-x: hidden;
  }

  .aboutUpperRight img{
    height: auto;
    width: 100vw;
  }
/* 
  footer{
      grid-template-columns: 50% 50%;
  } */
}

@media(max-width:991px){

  .contact{
    background: none;
    position: relative;
  }

  .contact::before{
    display: none;
  }

  .contactInner{
    display: flex;
    position: absolute;
    top: 0;
    flex-direction: column-reverse;
  }

  .contactInner .contactInfo{
    width: 100%;
    height: auto;
    flex-direction: row;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .contactInner .contactForm{
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

@media screen and (max-width: 878px) {

  .home{
      width: 100vw;
      height: 100%;
      align-items: center;
      text-align: center;
      justify-content: center;
  }

  .home-content{
      width: 100%;
      text-align: center;
      padding: 20px;
  }

  .img-content{
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .img-square{
      width: 100%;
      margin: 0%;
      display: none;
      border-radius: 10px;
  }
 
  .social-media{
      width: fit-content;
      margin: auto;
  }

  /* .values ul{
    width: 100vw;
    padding: 20px;
  }

  .values ul li p{
    line-height: 2rem;
  } */
}

@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    width: 60%;
  }

}

@media (max-width: 768px){
    .box{
        width: 85%;
    }
    
    .reg-btn{
        width: 100%;
    }
}

@media(max-width:767px){

  header .navb-logo h2{
      display: none;
  }

  /* footer{
      margin-top: 2rem;
      grid-template-columns: 100%;
      grid-row-gap: 2rem;
  } */

  .home .carousel img{
      height: auto;
      width: auto;
      margin: 0 auto;
      border-radius: 0;
  }

  .articles{
    padding: 20px;
  }

}

@media (max-width: 600px) {

  .contactInner .contactInfo{
    flex-direction: column;
    align-items: flex-start;
  }

  .contactInner .contactInfo .info{
    margin-top: 40px;
  }

  .contactInner .contactInfo .social-media{
    margin: 0;
    margin-top: 40px;
  }
}

@media (max-width: 530px) {

    main {
        padding: 1rem;
        background: none;
    }

    .inner-box {
        padding: 0;
        width: 100%;
    }

    .box{
        border-radius: 0;
        width: 100%;
        box-shadow: none;
    }

    .heading h2{
        font-size: 1.9rem;
    }

    form {
        padding: 1rem 2rem 1.5rem;
    }
}

@media(max-width: 450px){

  .modal-dialog{
      width: 82%;
  }

  .modal-body{
      padding-left: 0;
  }

  .modal-body .modal-line{
      height: 3.5rem;
  }

}