.login-wrap{
    height: 100%;
}

.login-page .login-box{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.login-title h2{
    color: #336b4f;
}

.forgot-password a:hover{
    text-decoration: underline;
}

#reg-btn a{
    color: #336b4f;
}

#reg-btn a:hover{
   background-color: #336b4f;
   color: white;
}

@media only screen and (max-width: 425px){
    .login-page .login-box{
        width: 100%;
        box-shadow: none;
        border-radius: 0;
    }
}